/**
COLOUR PALETTES

* bg_navbar: #304848;

* bg_main:  #304860;

* bg_footer: #A8A8A8;

https://www.colourlovers.com/palette/155071/Rei_Ayanami

**/

/* M A I N   D E F I N I T I O N S */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bitter', serif;
    color: white;
    font-weight: 700;
}

p, a, strong, span, li, small {
    font-family: 'Noto Serif', serif;
    color: white;
}

.bg_navbar {
    background: #304848;
}

.bg_main {
    background: #304860;
}

.bg_footer {
    background: #A8A8A8;
}


/** C A R D  T Y P E 3**/

.card-details {
    display: flex;
}

.stars-container {
    display: flex;
}

.stars-container i {
    color: #E16C02;
    font-size: 12px;
}

.carousel-control-next::before {
    content: '';
    background: #000;
    opacity: 0.5;
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.carousel-control-prev::before {
    content: '';
    background: #000;
    opacity: 0.5;
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}


/*FOOTER*/

footer .form-image-container {
    width: 90px;
}

footer .form-image-container img {
    max-width: 100%;
}

.input-size {
    width: 300px !important;
}

.social-media-container {
    display: flex;
}

.twitter, .facebook, .instagram {
    width: 25px;
}

.social-media-container img {
    max-width: 100%;
}

.link-decoration {
    color: white;
    text-decoration: none;
}

.link-decoration:hover {
    color: white;
    text-decoration: underline;
}