/**
COLOUR PALETTES

* bg_navbar: #304848;

* bg_main:  #304860;

* bg_footer: #A8A8A8;

https://www.colourlovers.com/palette/155071/Rei_Ayanami

**/

/* M A I N   D E F I N I T I O N S */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bitter', serif;
    color: white;
    font-weight: bold;
}

p, a, strong, span, li {
    font-family: 'Noto Serif', serif;
    color: white;
}

.bg_navbar {
    background: #304848;
}

.bg_main {
    background: #7798b9;
}


.bg_footer {
    background: #A8A8A8;
}


/** C A R D  T Y P E 3**/

.card-details {
    display: flex;
}

.stars-container {
    display: flex;
}

.stars-container i {
    color: #E16C02;
    font-size: 12px;
}

.control-position-prev::before {
    background: black;
    border-radius: 50%;
    content: '';
    width: 25px;
    z-index: 1000;
}


















































































/** B U S C A D O R   D E   V U E L O S**/

.img-buscador {
    background-image: url(../images/Rio-de-Janeiro.jpg);
    height: 300px;
} 
.mt-4 {
    margin-top: auto;
    margin-bottom:auto; 
}
.form-row {
    background: white rgb(240,240,240);
    color:white;
    justify-content: center;
}
.form-check {
    color:white;
}