/**
COLOUR PALETTES

* bg_navbar: #304848;

* bg_main:  #304860;

* bg_footer: #A8A8A8;

https://www.colourlovers.com/palette/155071/Rei_Ayanami

**/

/* M A I N   D E F I N I T I O N S */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bitter', serif;
    color: white;
    font-weight: 700;
}

p, a, strong, span, li, small {
    font-family: 'Noto Serif', serif;
    color: white;
}

.bg_navbar {
    background:#304848;
}

.bg_main {
    background: #304860;
}


.bg_footer {
    background:#A8A8A8;
}
/** HEADER**/
.navbar{
    padding: 0px 1px 0px 1px;
    margin-top:-5px;
}
nav .nav-item a:hover{
    color:#007bff;
}
.navbar a img{  
   margin:-40px;
   height:150px;
   margin-left:0px;
   animation-name: logo;
   animation-duration:4s;
}

@keyframes logo{
    from{opacity: 0}
    to    {opacity: 1}

}
.brand_logo_container{
    margin-bottom:25px;
}
/** C A R D  T Y P E 3**/

.card-box-shadow:hover {
    box-shadow: 2px 2px 3px #ccc;
}

.card-details {
    display: flex;
}

.m-card-body-bottom {
    margin-bottom: 3.75rem;
}

.m-card-body-bottom-2 {
    margin-bottom: 2.4rem;
}

.price-size {
    font-size: 1.6em;
}


.stars-container {
    display: flex;
}

.stars-container i {
    color: #E16C02;
    font-size: 12px;
}

/**breakpoints HEADER**/
@media(max-width: 576px){
    .nav .nav-item a span{
        display:none;
       }
}
@media(max-width: 768px){
   .nav .nav-item a span{
    display:none;
   }
}
@media (max-width: 992px){
    .nav .nav-item a span{
       display:none;
    }
}
/**END breakpoints HEADER**/

/**CARD TIPO 2**/
.card-body h5 .price{
    text-decoration: line-through;
    font-size: 70%;
    color: gray;
}
/**END CARD TIPO 2**/
.controls-position {
    width: 1% !important;
}

.carousel-control-next::before {
    content: '';
    background: #000;
    opacity: 0.5;
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.carousel-control-prev::before {
    content: '';
    background: #000;
    opacity: 0.5;
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
/** B U S C A D O R   D E   V U E L O S**/

.img-buscador {
    background-image: url(../images/Rio-de-Janeiro.jpg);
    height: 300px;
} 

.search {
    background: white rgb(240,240,240);
    color:white;
    justify-content: center;
}
.form-c {
    color:white;
    background: #000;
    opacity: 0.5;
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
/*Guia de viaje*/
.card1{
    display: none;
}
.card:hover > .card1{
    display:block;
    background: rgba(0, 0, 0, 0.4);
    position:absolute;
    width:100%;
    top:0;
    bottom:0;
    text-align:center;
}
.card1 .btn1 {
    margin:100px;
}
.card-body .guide{
    color:#304848;
    size:8px;
}
.card-guide{
    height:300px;
    width: 270px;
}

/*END DE VIAJE*/

/*FOOTER*/

footer .form-image-container {
    width: 90px;
}

footer .form-image-container img {
    max-width: 100%;
}

.input-size {
    width: 300px !important;
}

.social-media-container {
    display: flex;
    justify-content: center;
}

.twitter, .facebook, .instagram {
    width: 30px;
}

.social-media-container img {
    max-width: 100%;
}

.link-decoration {
    color: white;
    text-decoration: none;
}

.link-decoration:hover {
    color: white;
    text-decoration: underline;
}

.position-controls {
    width: 1%;
}
.cards-container {
    background: lemonchiffon;
    padding: 5px 30px;
    
}

.card-box { 
    width: 5%;
    text-align: center;
}
.card-box img {
    width: 100%;
}

.card-box p {
    font-size: 12px;
    color: #000;
}


/* A L E R T - R E S U L T S   S E C T I O N*/

.alert-bg {
    background: #304848;
}

.ribbon-container {
    background: #F4DF27;
    height: 25px;
    width: 100px;
    text-align: center;
}

.ribbon {
    position: relative;
    color: #304848;
}

.ribbon::before {
    content: '';
    position: absolute;
    right: -25px;
    width: 0;
    height: 0;
    border-left: 20px solid #F4DF27;
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
}

.ribbon::after {
    content: '';
    position: absolute;
    width: 0;
    right: -25px;
    height: 0;
    border-left: 20px solid #F4DF27;
    border-top: 15px solid transparent;
    border-bottom: 0px solid transparent;
    bottom: -2px;
}
/**Primary CARD**/
.cardprimary{
   height:445.656px;
}
.cardprimary img{
    height:179px;
    width:100%;
}
.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.6s ease;
}
.inner:hover img{
    transform: scale(1.5);
}
/**End PRIMARY CARD**/
/**secondary guide**/
.secondaryguide a h5{
    color:#304860;
}
.secondaryguide a:hover{
    text-decoration: none;
}
/**END SECONDARY GUIDE**/

