/**
COLOUR PALETTES

* bg_navbar: #304848;

* bg_main:  #304860;

* bg_footer: #A8A8A8;

https://www.colourlovers.com/palette/155071/Rei_Ayanami

**/

/* M A I N   D E F I N I T I O N S */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bitter', serif;
    color: white;
    font-weight: 700;
}

p, a, strong, span, li, small {
    font-family: 'Noto Serif', serif;
    color: white;
}

.bg_navbar {
    background:#304848;
}

.bg_main {
    background: #304860;
}


.bg_footer {
    background:#A8A8A8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** HEADER**/
.navbar{
    padding: 0px 1px 0px 1px;
    margin-top:-5px;
}
.navbar a img{  
   margin:-40px;
   height:150px;
   margin-left:0px;
   animation-name: logo;
   animation-duration:4s;
}

@keyframes logo{
    from{opacity: 0}
    to    {opacity: 1}

}
.brand_logo_container{
    margin-bottom:25px;
}
/** C A R D  T Y P E 3**/

.card-box-shadow:hover {
    box-shadow: 2px 2px 3px #ccc;
}

.card-details {
    display: flex;
}

.m-card-body-bottom {
    margin-bottom: 3.75rem;
}

.m-card-body-bottom-2 {
    margin-bottom: 2.4rem;
}

.price-size {
    font-size: 1.6em;
}


.stars-container {
    display: flex;
}

.stars-container i {
    color: #E16C02;
    font-size: 12px;
}

/**breakpoints HEADER**/
@media(max-width: 576px){
    .nav .nav-item a span{
        display:none;
       }
}
@media(max-width: 768px){
   .nav .nav-item a span{
    display:none;
   }
}
@media (max-width: 992px){
    .nav .nav-item a span{
       display:none;
    }
}
/**END breakpoints HEADER**/
.controls-position {
    width: 1% !important;
}

.carousel-control-next::before {
    content: '';
    background: #000;
    opacity: 0.5;
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.carousel-control-prev::before {
    content: '';
    background: #000;
    opacity: 0.5;
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
/** B U S C A D O R   D E   V U E L O S**/

.img-buscador {
    background-image: url(../images/Rio-de-Janeiro.jpg);
    height: 300px;
} 

.search {
    background: white rgb(240,240,240);
    color:white;
    justify-content: center;
}
.form-c {
    color:white;
    background: #000;
    opacity: 0.5;
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

/*FOOTER*/

footer .form-image-container {
    width: 90px;
}

footer .form-image-container img {
    max-width: 100%;
}

.input-size {
    width: 300px !important;
}

.social-media-container {
    display: flex;
    justify-content: center;
}

.twitter, .facebook, .instagram {
    width: 30px;
}

.social-media-container img {
    max-width: 100%;
}

.link-decoration {
    color: white;
    text-decoration: none;
}

.link-decoration:hover {
    color: white;
    text-decoration: underline;
}

.position-controls {
    width: 1%;
}
.cards-container {
    background: lemonchiffon;
    padding: 5px 30px;
    
}

.card-box { 
    width: 5%;
    text-align: center;
}
.card-box img {
    width: 100%;
}

.card-box p {
    font-size: 12px;
    color: #000;
}


/* A L E R T - R E S U L T S   S E C T I O N*/

.alert-bg {
    background: #304848;
}

.ribbon-container {
    background: #F4DF27;
    height: 25px;
    width: 100px;
    text-align: center;
}

.ribbon {
    position: relative;
    color: #304848;
}

.ribbon::before {
    content: '';
    position: absolute;
    right: -25px;
    width: 0;
    height: 0;
    border-left: 20px solid #F4DF27;
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
}

.ribbon::after {
    content: '';
    position: absolute;
    width: 0;
    right: -25px;
    height: 0;
    border-left: 20px solid #F4DF27;
    border-top: 15px solid transparent;
    border-bottom: 0px solid transparent;
    bottom: -3px;
}

/* F I L T E R S   C O N T A I N E R S*/

.filters-container ul li a {
    color: white;
    font-size: 12px;
}

/*C A R D   R E S U L T S*/

.ticket-container {
    border: 1px solid white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 20% 20% 35% 25%;
    grid-template-rows: repeat(5, auto);
    padding: 0 6px;
    grid-gap: 10px 0;
}

.ticket-container i {
    color: white;
}

.ticket-container small, .ticket-container strong {
    display: block;
}

.price-container {
    border-left: 1px solid white;
    grid-row-end: span 5;
    padding: 5px;
}

.price-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.price-header strong {
    font-size: 1.5em;
}

.price-body p {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.price-container hr {
    margin: 0;
}

.final-price {
    display: flex;
    justify-content: space-between;
}

.CTA {
    display: flex;
    justify-content: center;
    margin: 6px 0;
}

.CTA button {
    border: none;
    border-radius: 10px;
    padding: 8px;
    font-weight: bold;
    color: white;
}

.price-footer {
    padding: 0.75em;
}

.company-logo {
    width: 60%;
}

.company-logo img {
    max-width: 100%;
}

.departure-hour {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.departure-hour small {
    text-decoration: underline;
}

.destination-hour {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.destination-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.destination-details i {
    font-size: 1em;
}

.return i {
    transform: rotate(180deg);
}

.ticket-footer {
    grid-column: 1 / span 2;
}

.ticket-footer div {
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 15px;
}

.aside-color {
    background-color: #304848 !important;
}

.form-text {
    font-size: .8em;
    color: white;
}

.form-text-2 {
    font-size: 1.2em;
    font-weight: bold;
}

@media (max-width: 768px) {
    .ribbon::after, .ribbon::before {
        right: -20px;
    }

    .ribbon::after {
        bottom: -2px;
    }

    .ticket-container {
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: repeat(, auto);
        grid-template-areas: "one-way one-way one-way"
                             "company . ."
                             "departure departure-hour destination"
                             "return return return"
                             "company-two . ."
                             "departure-return departure-hour-return destination-return"
                             "ticket-footer ticket-footer ."
                             "price price price";
        grid-gap: 5px 0;
    }

    .one-way {
        grid-area: one-way;
    }

    .departure {
        grid-area: departure;
    }

    .destination {
        grid-area: destination;
    }

    .price-container {
        grid-area: price;
        border: none;
    }

    .company {
        grid-area: company;
    }

    .departure-hour {
        grid-area: departure-hour;
    }

    .destination-hour {
        grid-area: hour;
        display: none;
    }

    .return {
        grid-area: return;
    }

    .destination-return {
        grid-area: destination-return;
    }

    .company-two {
        grid-area: company-two;
    }

    .departure-return {
        grid-area: departure-return;
    }

    .departure-hour-return {
        grid-area: departure-hour-return;
    }

    .destination-details {
        grid-area: destination-details;
        display: none;
    }

    .ticket-footer {
        grid-area: ticket-footer;
    }

    .price-header {
        align-items: flex-start;
    }

}

@media (max-width: 576px) {

    .ribbon::after, .ribbon::before {
        right: -19px;
    }

}

.textdec {
    text-decoration: none !important; 
}